<a mat-flat-button href="/list"> &lt; Go to parcels list</a>
<div ngClass="container">
<h2 ngClass="title">Add Parcel</h2>
  <form ngClass="form" [formGroup]="parcelForm" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <mat-label for="sku">SKU:</mat-label>
      <input matInput type="text" id="sku" formControlName="sku" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label for="description">Description:</mat-label>
      <input matInput type="text" id="description" formControlName="description" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label for="streetAddress">Street Address:</mat-label>
      <input matInput type="text" id="streetAddress" formControlName="streetAddress" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label for="town">Town:</mat-label>
      <input matInput type="text" id="town" formControlName="town" required>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label for="country">Country:</mat-label>
      <input matInput type="text" id="country" formControlName="country" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label for="deliveryDate">Delivery Date:</mat-label>
      <input matInput type="date" id="deliveryDate" formControlName="deliveryDate" required>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit" >Add Parcel</button>
  </form>
</div>

